button {
    margin: 10px;
}

element.style {
    padding: 10px;
}


th,
td {
    width: 100px;
}

#middle {
    text-align: center;
}

.table-container {
    height: 300px;
    overflow: auto;
}

.row-is-clicked {
    font-weight: bold;
  }