<div id="full-width">
    <div id="middle">
        <button mat-raised-button (click)="addData()">
            Add data
        </button>
        <button mat-raised-button [disabled]="!measurements.length" (click)="removeData()">
            Remove data
        </button>
    </div>

    <table mat-table [dataSource]="measurements" class="mat-elevation-z8">
        <!-- date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element">{{element.date}}</td>
        </ng-container>

        <!-- Name weight -->
        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">{{element.weight}}</td>
        </ng-container>

        <!-- Weight bodyFat -->
        <ng-container matColumnDef="bodyFat">
            <th mat-header-cell *matHeaderCellDef>BodyFat</th>
            <td mat-cell *matCellDef="let element">{{element.bodyFat}}</td>
        </ng-container>

        <!-- Symbol waist -->
        <ng-container matColumnDef="waist">
            <th mat-header-cell *matHeaderCellDef>Waist</th>
            <td mat-cell *matCellDef="let element">{{element.waist}}</td>
        </ng-container>


        <!-- belly Column -->
        <ng-container matColumnDef="belly">
            <th mat-header-cell *matHeaderCellDef>Belly</th>
            <td mat-cell *matCellDef="let element">{{element.belly}}</td>
        </ng-container>


        <!-- chest Column -->
        <ng-container matColumnDef="chest">
            <th mat-header-cell *matHeaderCellDef>Chest</th>
            <td mat-cell *matCellDef="let element">{{element.chest}}</td>
        </ng-container>

        <!-- hips Column -->
        <ng-container matColumnDef="hips">
            <th mat-header-cell *matHeaderCellDef>Hips</th>
            <td mat-cell *matCellDef="let element">{{element.hips}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>