<div id=edit>
    <div class="title">
        <h1>Edit details</h1>
        <button (click)="this.save()" class="white-icon" mat-icon-button>
            <mat-icon class="white-icon">edit</mat-icon>
        </button>
    </div>
    <div id="userForm">
        <mat-form-field appearance="fill">
            <mat-label>Firstname</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Lastname</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Birthdate</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Height</mat-label>
            <input matInput>
        </mat-form-field>
    </div>

</div>