#userDetails {
    margin: 40px;
    margin-top:70px;
}

.title {
    display: flex;
    flex-direction: row
}

.white-icon {
    border: none;
    background: none;
    padding-left: 10px;
}

#user{
    margin: 10px;
    width: 350px;
}